*.suo
*.cache
packages
[Bb]in
[Oo]bj
*.deb
*.swp

debhelper-build-stamp
files
*.debhelper.log
*.substvars
*.build
*.changes
*.dsc
*.tar.xz

/debian/nubian/
/src/nubian.Demo/debian/nubian-demo/
/src/nubian.NuGet/debian/nubian-nuget/


