Source: nubian-demo
Section: misc
Priority: optional
Maintainer: André Roth <neolynx@gmail.com>
Build-Depends: debhelper (>= 8), mono-xbuild, mono-mcs, nupkg-neventstore (=5.2.0)
Standards-Version: 3.9.3

Package: nubian-demo
Section: misc
Architecture: all
Depends: ${misc:Depends}, libmono-neventstore (=5.2.0)
Description: nubian demo executable
 Demo executable for nubian, using NEventStore nupkg
