#!/usr/bin/make -f
# -*- makefile -*-

TARGET := opt/mono/bin/nubian-demo
PACKAGE := nubian-demo
BINARY := bin/Release/nubian.Demo.exe

%:
	dh $@

override_dh_auto_clean:
	xbuild /t:clean
	rm -rf packages/

override_dh_auto_build:
	nubian-nuget restore -PackagesDirectory packages/ -Source /usr/share/nupkg -nocache
	xbuild nubian.Demo.csproj /p:Configuration=Release

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/$(PACKAGE)/$(TARGET)
	cp $(BINARY) debian/$(PACKAGE)/$(TARGET)/
	cp "$(BINARY).config" debian/$(PACKAGE)/$(TARGET)/

