#!/usr/bin/make -f
# -*- makefile -*-

TARGET := opt/nubian/gacd
PACKAGE := nubian-monoruntimeresolver
BINARY := bin/Release/nubian.MonoRuntimeResolver.dll

%:
	dh $@

override_dh_auto_clean:
	xbuild /t:clean
	rm -rf packages/

override_dh_auto_build:
	xbuild nubian.MonoRuntimeResolver.csproj /p:Configuration=Release

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/$(PACKAGE)/$(TARGET)
	cp $(BINARY) debian/$(PACKAGE)/$(TARGET)/

